<template>
  <section>
    <div class="h-48 md:h-64 w-full relative hero-pattern">
      <artist-detail-head-options class="absolute top-0" />
    </div>
    <div class="relative">
      <artist-detail-overview :artist="artist" />
      <artist-detail-content :artist="artist" />
    </div>
  </section>
</template>

<script>

import ArtistDetailOverview from '@/components/artists/detail/overview/ArtistDetailOverview'
import ArtistDetailContent from '@/components/artists/detail/ArtistDetailContent'
import ArtistDetailHeadOptions from '@/components/artists/detail/overview/ArtistDetailHeadOptions'

export default {
  components: {
    ArtistDetailHeadOptions,
    ArtistDetailContent,
    ArtistDetailOverview
  },
  layout: 'withoutHead',

  async asyncData ({ params, $axios }) {
    const artist = await $axios.$get('artists/' + params.slug)
    return { artist: artist.data }
  },

  head () {
    return {
      title: this.artist.name,
      meta: [
        { hid: 'og:title', property: 'og:title', content: this.artist.name },
        { hid: 'og:url', property: 'og:url', content: 'stageslice.com' + this.$route.path },
        { hid: 'og:image', property: 'og:image', content: this.artist.img }
      ]
    }
  }
}
</script>
