<template>
  <section>
    <artist-filter-head :total="meta.total" :query-genres="filterObj.genres" @filter="filter" />
    <paginated-list :list="{meta,links, data: artists}" include="spotify" path="artists" :query="queryParams">
      <template #default="{items}">
        <artist-card v-for="artist in items" :key="artist.id" class="mb-3" :artist="artist" />
      </template>
    </paginated-list>
  </section>
</template>

<script>
import ArtistCard from '@/components/artists/ArtistCard'
import ArtistFilterHead from '@/components/artists/ArtistFilterHead'
import PaginatedList from '@/components/PaginatedList'

export default {
  components: {
    PaginatedList,
    ArtistFilterHead,
    ArtistCard
  },
  computed: {
    queryParams () {
      const filter = {}

      if (this.filterObj.genres[0]) {
        filter['filter[has_genre]'] = this.filterObj.genres
      }

      return filter
    }
  },

  async asyncData ({ $axios, route }) {
    const genreFilter = route.query['filter[has_genre]'] || ''

    const artists = await $axios.$get('artists', {
      params: {
        include: 'spotify',
        page: route.query.page || 1,
        'filter[has_genre]': route.query['filter[has_genre]']
      }
    })

    return {
      artists: artists.data,
      meta: artists.meta,
      links: artists.links,
      filterObj: { genres: genreFilter.split(',') }
    }
  },

  methods: {
    filter (filter) {
      this.filterObj = filter
    }
  },

  head () {
    return {
      title: 'Artists - StageSlice'
    }
  }
}
</script>
