<template>
  <section>
    <concert-filter-head :total="list.meta.total" :filter-obj="filterObj" @filter="filter" />

    <paginated-list :list="list" include="tour" path="concerts" :query="filterObj" :silent-query="silentQuery">
      <template #default="{items}">
        <div v-for="concert in items" :key="concert.id" class="w-full md:w-1/2 lg:w-1/3 px-2 pb-3">
          <concert-row :concert="concert" />
        </div>
      </template>
    </paginated-list>
  </section>
</template>

<script>
import ConcertRow from '@/components/concerts/ConcertRow'
import PaginatedList from '@/components/PaginatedList'
import ConcertFilterHead from '@/components/concerts/ConcertFilterHead'
export default {
  name: 'Index',
  components: { ConcertFilterHead, PaginatedList, ConcertRow },
  async asyncData ({ $axios, route }) {
    const silentQuery = { 'filter[future]': true, sort: 'date' }
    const concerts = await $axios.$get('concerts', {
      params: {
        include: 'tour',
        ...route.query,
        page: route.query.page || 1,
        ...silentQuery
      }
    })
    return {
      list: concerts,
      filterObj: route.query,
      silentQuery
    }
  },
  methods: {
    filter (filter) {
      this.filterObj = filter
    }
  }

}
</script>
