<template>
  <div class="w-full px-2 py-2 mb-2 shadow-lg border-b border-background-dark">
    <div class="w-full flex items-center justify-between bg-background-darker">
      <div class="md:mr-3 md:pr-3 mr-1 pr-1 border-r border-background">
        <span class="uppercase md:text-lg text-base text-font-primary" v-text="total" />
        <span class="uppercase md:text-sm text-xs text-font-secondary">total</span>
      </div>
      <div class="md:text-sm text-xs flex flex-1 overflow-auto">
        <div
          v-for="(item, key) in selected"
          :key="key"
          class="py-1 rounded-lg flex border border-brand-main items-center hover:bg-brand-main cursor-pointer mr-2"
        >
          <span class="pl-3 pr-2 whitespace-no-wrap" @click="showFilter = !showFilter" v-text="item" />
          <div
            class="w-4 h-4 mr-2 text-xs rounded-full bg-background hover:bg-background-darker text-font-secondary-dark flex justify-center items-center"
            @click="removeFilter(key)"
          >
            <span>X</span>
          </div>
        </div>
      </div>
      <div
        class="ml-1 border-l border-background md:text-2xl text-lg text-font-secondary flex"
      >
        <div class=" md:pl-4 pl-2 md:pr-2 pr-1 cursor-pointer" @click="showFilter = !showFilter">
          <filter-icon v-if="!showFilter" />
          <times v-else />
        </div>
        <div
          class="md:pl-4 pl-2 md:pr-2 pr-1 cursor-pointer"
          @click="showFilter = !showFilter"
        >
          <sort />
        </div>
      </div>
    </div>

    <div v-if="showFilter" class="flex border-t flex-wrap border-background-dark mt-2 py-2">
      <label class="block md:w-1/3 w-full mr-3">
        <span class="text-font-secondary">City</span>
        <select v-model="compCity" class="form-select text-font-secondary block w-full mt-1">
          <option :value="undefined">---</option>
          <option v-for="city in cities" :key="city.id" :value="city.id" v-text="city.name" />
        </select>
      </label>

      <label class="block md:w-1/3 w-full mr-3">
        <span class="text-font-secondary">Date</span>
        <date-time-field v-model="dateRange" :config="datePickerConfig" class="form-input text-font-secondary block w-full mt-1" />
      </label>

      <label class="block md:w-1/3 w-full mr-3">
        <span class="text-font-secondary">Sotieren</span>
        <select v-model="sort" class="form-select text-font-secondary block w-full mt-1">
          <option value="date">Nächstes Konzert</option>
          <option value="-created_at">Neustes Konzert</option>
        </select>
      </label>
    </div>
  </div>
</template>

<script>
import FilterIcon from '@/assets/svgs/icons/Filter.svg'
import Times from '@/assets/svgs/icons/Times.svg'
import Sort from '@/assets/svgs/icons/Sort.svg'
import DateTimeField from '@/components/UI/DateTimeField'
export default {
  name: 'ConcertFilterHead',
  components: {
    DateTimeField,
    FilterIcon,
    Times,
    Sort
  },
  props: {
    total: {
      type: Number,
      required: true
    },
    filterObj: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      showFilter: false,
      cities: [],
      genreFilter: this.queryGenres || [],
      datePickerConfig: {
        mode: 'range',
        minDate: 'today',
        altInput: true,
        dateFormat: 'Y-m-d',
        altFormat: 'd.m.Y',
        locale: {
          rangeSeparator: ' - '
        }
      }
    }
  },
  computed: {
    compCity: {
      get () {
        return this.filterObj['filter[in_city]'] || undefined
      },
      set (value) {
        this.$emit('filter', { ...this.filterObj, 'filter[in_city]': value })
      }
    },
    sort: {
      get () {
        return this.filterObj.sort || 'date'
      },
      set (value) {
        this.$emit('filter', { ...this.filterObj, 'sort': value })
      }
    },
    dateRange: {
      get () {
        if (!this.filterObj['filter[date_between]']) {
          return ''
        }

        return this.filterObj['filter[date_between]'].split(',').join(' - ')
      },
      set (value) {
        this.$emit('filter', { ...this.filterObj, 'filter[date_between]': value.split(' - ').join(',') })
      }
    },
    selected () {
      let selected = {}

      if (this.compCity) {
        const city = this.cities.filter(city => city.id === Number(this.compCity))[0]

        selected = {
          ...selected,
          'filter[in_city]': (city ? city.name : '')
        }
      }

      if (this.dateRange) {
        const dates = this.dateRange.split(',')
        let strRange = this.$moment(dates[0], 'YYYY-MM-DD').format('DD.MM.YYYY')

        if (dates[1]) {
          strRange = strRange + ' - ' + this.$moment(dates[1], 'YYYY-MM-DD').format('DD.MM.YYYY')
        }

        selected = {
          ...selected,
          'filter[date_between]': strRange
        }
      }

      return selected
    }
  },
  async created () {
    const cities = await this.$axios.$get('cities')
    this.cities = cities.data
  },
  methods: {
    removeFilter (key) {
      const newFilter = { ...this.filterObj }
      delete newFilter[key]
      this.$emit('filter', newFilter)
    }
  }
}
</script>
