<template>
  <div class="bg-background border-l-4 border-brand-accent pt-2 pb-3 pl-2 pr-3 shadow text-font-secondary overflow-auto">
    <div class="flex justify-between mb-2">
      <div class="flex items-center">
        <nuxt-link :to="{name:'concerts-uuid', params:{uuid:concert.uuid}}">
          <div
            class="h-24 w-24 flex-shrink-0 bg-cover rounded-full mr-3"
            :style="{ 'background-image': poster}"
          />
        </nuxt-link>
        <div class="leading-tight flex-1 overflow-hidden">
          <nuxt-link class="inline-block flex flex-col" :to="{name:'concerts-uuid', params:{uuid:concert.uuid}}">
            <div v-if="tourName" class="items-center text-sm justify-between mb-1" v-text="tourName" />
            <div
              class="text-font-primary text-lg font-bold tracking-wider"
            >
              <template
                v-for="(headliner,index) in concert.headliners"
              >
                {{ headliner.name }}
                <template v-if="index + 1 < concert.headliners.length">
                  ·
                </template>
              </template>
            </div>
            <div>
              <template v-for="(support,index) in concert.supports">
                {{ support.name }}
                <template v-if="index + 1 < concert.supports.length">
                  ·
                </template>
              </template>
            </div>
          </nuxt-link>
        </div>
      </div>
      <circle-button class="bg-background-dark">
        <star />
      </circle-button>
    </div>

    <div class="flex w-full items-center text-sm">
      <div class="flex items-center mr-4">
        <span class="h-em w-em mr-2 text-sm text-font-secondary-dark">
          <calendar />
        </span>
        <span class="leading-none" v-text="date" />
      </div>
      <div class="flex items-center">
        <span class="h-em w-em mr-2 text-sm text-font-secondary-dark">
          <location />
        </span>
        <span class="leading-none" v-text="concert.venue.name" />
      </div>
    </div>
  </div>
</template>

<script>
import Location from '@/assets/svgs/icons/Location.svg'
import Calendar from '@/assets/svgs/icons/Calendar.svg'
import Star from '@/assets/svgs/icons/Star.svg'
import CircleButton from '@/components/buttons/CircleButton'

export default {
  name: 'ConcertRow',
  components: { CircleButton, Location, Calendar, Star },
  props: {
    concert: {
      type: Object,
      required: true
    }
  },
  computed: {
    date () {
      return `${this.$moment.unix(this.concert.date).format('dd D.M.YYYY')}  ${this.concert.begin}`
    },
    tourName () {
      return this.concert.tour === null ? '' : this.concert.tour.name
    },
    poster () {
      return `url(${this.concert.poster})`
    }
  }
}
</script>
