<template>
  <circle-button>
    <arrow-icon />
  </circle-button>
</template>

<script>
import ArrowIcon from '@/assets/svgs/icons/Arrow.svg'
import CircleButton from '@/components/buttons/CircleButton'

export default {
  name: 'CircleArrowButton',
  components: { CircleButton, ArrowIcon },
  created () {
  }
}
</script>
