<template>
  <thy-button :on="on" class="p-1 md:p-2 flex justify-center items-center w-8 h-8 md:w-10 md:h-10 rounded-full bg-transparent-background">
    <slot />
  </thy-button>
</template>

<script>
export default {
  name: 'CircleButton',
  props: {
    on: {
      type: Function,
      default: () => () => {}
    }
  }
}
</script>
