<template>
  <circle-button>
    <triple-period-vertical />
  </circle-button>
</template>

<script>
import TriplePeriodVertical from '@/assets/svgs/icons/TriplePeriodVertical.svg'
import CircleButton from '@/components/buttons/CircleButton'

export default {
  name: 'CircleTriplePeriodVerticalButton',
  components: { CircleButton, TriplePeriodVertical }
}
</script>
