<template>
  <thy-button
    class="uppercase rounded-full text-font-secondary border"
    :class="{
      'border-brand-accent': active,
      'bg-brand-accent': active,
      'text-font-primary': active,
      'hover:text-font-primary': !active,
      'hover:border-brand-accent': !active,
      'hover:bg-brand-accent': !active,
      'border-background-light': !active
    }"
  >
    <slot />
  </thy-button>
</template>

<script>
export default {
  name: 'ToggleButton',
  props: {
    active: {
      type: Boolean,
      required: true
    }
  }
}
</script>
