<template>
  <div class="flex mb-3">
    <div
      class="w-1/4 flex-shrink-0 max-w-xxxs min-w-xxxs"
    >
      <div class="pb-full relative rounded-full shadow-lg overflow-hidden">
        <artist-placeholder
          class="w-full h-full object-cover object-center absolute text-font-secondary uppercase text-center center"
        />
        <img
          v-if="hasImg"
          :src="artist.img"
          :alt="artist.name"
          class="w-full h-full object-cover object-center absolute text-transparent-full"
        >
      </div>
    </div>

    <div class="pl-2 pr-1 md:pl-4 md:pr-3">
      <div class="pt-2 pb-3 md:text-lg">
        <div class="text-font-secondary pb-1 font-thin">
          <span class="uppercase text-lg md:text-xl">Artist</span>
        </div>
        <div>
          <h1 class="text-2xl font-bold leading-none md:text-4xl" v-text="artist.name" />
          <span class="leading-snug text-font-secondary font-thin">@{{ artist.slug }}</span>
        </div>
      </div>
      <div class="flex items-center h-6 md:h-8 font-thin md:text-xl">
        <toggle-button class="px-5 mr-2 h-full leading-none md:px-6 " :active="false">
          Folgen
        </toggle-button>
        <toggle-button class="h-full px-2 py-1 flex items-center md:px-3" :active="false">
          <bell class="h-full" />
        </toggle-button>
      </div>
    </div>
  </div>
</template>

<script>
import ToggleButton from '@/components/buttons/ToggleButton'
import Bell from '@/assets/svgs/icons/Bell.svg'
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg'

export default {
  name: 'ArtistDetailNameWidget',
  components: { ToggleButton, Bell, ArtistPlaceholder },
  props: {
    artist: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasImg () {
      return this.artist.img !== null
    }
  }
}
</script>
