<template>
  <div>
    <div class="flex flex-wrap md:text-lg">
      <artist-info-line v-if="artist.originCity">
        <template #icon>
          <location />
        </template>
        <template #text>
          {{ artist.originCity.name }}, {{ artist.originCity.country }}
        </template>
      </artist-info-line>

      <artist-info-line v-if="artist.founding">
        <template #icon>
          <calendar />
        </template>
        <template #text>
          {{ artist.founding }}
        </template>
      </artist-info-line>

      <artist-info-line v-if="false">
        <template #icon>
          <svg-link />
        </template>
        <template #text>
          www.thehirscheffekt.de
        </template>
      </artist-info-line>

      <artist-info-line v-if="artist.genres">
        <template #icon>
          <note />
        </template>
        <template #text>
          <span v-for="(genre,index) in artist.genres" :key="genre.id">
            {{ genre.name }}
            <template v-if="index + 1 < artist.genres.length">
              ·
            </template>
          </span>
        </template>
      </artist-info-line>
    </div>

    <div v-if="false" class="flex md:text-xl">
      <artist-info-key-value label="Follower">
        854
      </artist-info-key-value>
      <artist-info-key-value label="Freunde die Folgen">
        <div class="flex">
          <div class="-mr-2">
            <thy-with-dimensions>
              <template #default="{height}">
                <div class="rounded-full w-6 h-full bg-white border-2 border-background" :style="{width: height+ 'px'}" />
              </template>
            </thy-with-dimensions>
          </div>

          <div class="-mr-2">
            <thy-with-dimensions>
              <template #default="{height}">
                <div class="rounded-full w-6 h-full bg-white border-2 border-background" :style="{width: height+ 'px'}" />
              </template>
            </thy-with-dimensions>
          </div>

          <div class="-mr-2">
            <thy-with-dimensions>
              <template #default="{height}">
                <div class="rounded-full w-6 h-full bg-white border-2 border-background" :style="{width: height+ 'px'}" />
              </template>
            </thy-with-dimensions>
          </div>

          <div class="flex items-center ml-3">
            <div class="">
              +10
            </div>
          </div>
        </div>
      </artist-info-key-value>
    </div>
  </div>
</template>

<script>
import ArtistInfoLine from '@/components/artists/detail/ArtistInfoLine'
import Location from '@/assets/svgs/icons/Location.svg'
import Calendar from '@/assets/svgs/icons/Calendar.svg'
import SvgLink from '@/assets/svgs/icons/Link.svg'
import Note from '@/assets/svgs/icons/Note.svg'
import ArtistInfoKeyValue from '@/components/artists/detail/ArtistInfoKeyValue'

export default {
  name: 'ArtistDetailOverviewInfo',
  components: { ArtistInfoKeyValue, ArtistInfoLine, Location, Calendar, SvgLink, Note },
  props: {
    artist: {
      type: Object,
      required: true
    }
  }
}
</script>
