<template>
  <div class="flex justify-between px-3 py-2 text-font-secondary md:px-4 md:py-3 w-full">
    <a @click="$router.back()">
      <circle-arrow-button />
    </a>
    <circle-triple-period-vertical-button />
  </div>
</template>

<script>
import CircleTriplePeriodVerticalButton from '@/components/buttons/CricleTriplePeriodVerticalButton'
import CircleArrowButton from '@/components/buttons/CircleArrowButton'
export default {
  name: 'ArtistDetailHeadOptions',
  components: { CircleArrowButton, CircleTriplePeriodVerticalButton }
}
</script>
