<template>
  <div
    class="px-2 py-3 md:px-4 md:px-6 -mt-24"
    :style="{'background-image': 'linear-gradient(to bottom, rgba(51,56,70,0) 0%, rgba(51,56,70,1) 40%, rgba(51,56,70,1) 100%)'}"
  >
    <artist-detail-name-widget class="" :artist="artist" />
  </div>
</template>

<script>
import ArtistDetailNameWidget from '@/components/artists/detail/overview/ArtistDetailNameWidget'

export default {
  name: 'ArtistDetailOverview',
  components: {
    ArtistDetailNameWidget
  },
  props: {
    artist: {
      type: Object,
      required: true
    }
  }
}
</script>

<style>
  .parallax {
    background-attachment: fixed;
  }
</style>
