<template>
  <div class="mr-4 md:mr-6">
    <span class="text-font-secondary font-thin text-sm md:text-base" v-text="label" />
    <div>
      <slot />
    </div>
  </div>
</template>

<script>
export default {
  name: 'ArtistInfoKeyValue',
  props: {
    label: {
      type: String,
      required: true
    }
  }
}
</script>
