<template>
  <thy-tabs class="md:text-xl">
    <thy-tab-navigation class="flex bg-background shadow overflow-auto" />
    <thy-tab v-for="(value, key) in tabs" :key="key" class="md:px-3" :identifier="key">
      <template
        #nav="{active, events}"
      >
        <div
          class="px-2 pb-2 border-b-2 border-transparent-full cursor-pointer md:px-5 "
          :class="{
            'border-transparent-full' : !active,
            'text-font-secondary' : !active,
            'border-brand-accent' : active,
            'text-font-primary' : active,
          }"
          v-on="events"
        >
          {{ value.label }}
        </div>
      </template>

      <template #content>
        <div class="py-3">
          <component :is="value.content" :artist="artist" />
        </div>
      </template>
    </thy-tab>
  </thy-tabs>
</template>

<script>
import ArtistConcertList from '@/components/artists/ArtistConcertList'
import ArtistSimilarArtistsList from '@/components/artists/ArtistSimilarArtistsList'
import ArtistDetailInfo from '@/components/artists/detail/ArtistDetailInfo'

export default {
  name: 'ArtistDetailContent',
  components: { },
  props: {
    artist: {
      type: Object,
      required: true
    }
  },
  data () {
    return {
      tabs: {
        concert: {
          label: 'Konzerte',
          content: ArtistConcertList
        },
        // follower: {
        //   label: 'Follower',
        //   content: 'Konzerte'
        // },
        similarArtist: {
          label: 'Ähnliche Künstler',
          content: ArtistSimilarArtistsList
        },
        info: {
          label: 'Info',
          content: ArtistDetailInfo
        }
        // listenTo: {
        //   label: 'Streaming',
        //   content: 'Konzerte'
        // }
      }
    }
  }
}
</script>
