<template>
  <div class="text-font-secondary flex items-center font-thin  mr-4 mb-1">
    <span class="h-em w-em mr-2">
      <slot name="icon" />
    </span>
    <span>
      <slot name="text" />
    </span>
  </div>
</template>

<script>
export default {
  name: 'ArtistInfoLine'
}
</script>
