<template>
  <div class="px-3 flex-wrap flex">
    <div class="w-full sm:w-1/2 pr-2 mb-3">
      <div class="w-full bg-background shadow-lg border-background-dark border-2">
        <div class="flex items-center bg-background-dark py-1 px-3 text-font-secondary tracking-wider mb-2">
          <note class="mr-3 " />
          <span class="font-light">
            Info
          </span>
        </div>

        <div class="text-base px-3 mb-2">
          <div class="flex items-center border-background-dark border-b-2 text-font-secondary py-1 mb-1">
            <location class="mr-3" />
            Origin City
          </div>
          <div class="tracking-wider font-light">
            <span v-if="artist.originCity">
              {{ artist.originCity.name }}, {{ artist.originCity.country }}
            </span>
            <span v-else class="uppercase text-font-secondary text-sm">No Data</span>
          </div>
        </div>

        <div class="text-base px-3 mb-2">
          <div class="flex items-center border-background-dark border-b-2 text-font-secondary py-1 mb-1">
            <calendar class="mr-3" />
            Founding
          </div>
          <div class="tracking-wider font-light">
            <span v-if="artist.founding">
              {{ artist.founding }}
            </span>
            <span v-else class="uppercase text-font-secondary text-sm">No Data</span>
          </div>
        </div>
      </div>
    </div>

    <div class="w-full sm:w-1/2 bg-background shadow-lg border-background-dark border-2">
      <div class="flex items-center bg-background-dark py-1 px-3 text-font-secondary tracking-wider">
        <note class="mr-3 " />
        <span class="font-light">
          Genres
        </span>
      </div>
      <div v-if="artist.genres.length !== 0" class="py-2 pl-3 flex flex-wrap font-light text-base">
        <span v-for="(genre) in artist.genres" :key="genre.id" class="cursor-pointer hover:bg-brand-accent block py-1 px-3 border border-brand-accent rounded-lg mb-2 mr-3 tracking-wider">{{ genre.name }}</span>
      </div>
      <span v-else class="py-2 pl-3 uppercase text-font-secondary text-sm">No Genres provided</span>
    </div>
  </div>
</template>

<script>
import Location from '@/assets/svgs/icons/Location.svg'
import Calendar from '@/assets/svgs/icons/Calendar.svg'
import Note from '@/assets/svgs/icons/Note.svg'

export default {
  name: 'ArtistDetailOverviewInfo',
  components: { Location, Calendar, Note },
  props: {
    artist: {
      type: Object,
      required: true
    }
  }
}
</script>
