<template>
  <div>
    <transition-group name="flip-list" class="flex flex-wrap justify-between" tag="div">
      <slot :items="items" />
    </transition-group>
    <pagination :current-page="meta.current_page" :last-page="meta.last_page" @change="changePage" />
  </div>
</template>

<script>
import Pagination from '@/components/UI/Pagination'
export default {
  name: 'PaginatedList',
  components: { Pagination },
  props: {
    list: {
      type: Object,
      required: true
    },
    include: {
      type: String,
      default: ''
    },
    path: {
      type: String,
      required: true
    },
    query: {
      type: Object,
      default: () => ({})
    },
    silentQuery: {
      type: Object,
      default: () => ({})
    }
  },
  data () {
    return {
      dynList: this.list,
      currentPage: 1
    }
  },
  computed: {
    meta () {
      return this.dynList.meta
    },
    links () {
      return this.dynList.links
    },
    items () {
      return this.dynList.data
    },
    queryParams () {
      return {
        ...this.query,
        page: this.currentPage
      }
    }
  },
  watch: {
    query: {
      deep: true,
      handler () {
        this.currentPage = 1
        this.reloadList()
      }
    }
  },
  methods: {
    changePage (to) {
      this.currentPage = to
      this.reloadList()
    },
    async reloadList () {
      this.$router.push({ path: this.$route.path, query: this.queryParams })

      const list = await this.$axios.$get(this.path, {
        params: {
          include: this.include,
          ...this.silentQuery,
          ...this.queryParams
        }
      })

      this.dynList = list
    }
  }
}
</script>
<style>
.flip-list-move {
transition: transform 1s;
}
</style>
