<template>
  <input
    :ref="ref"
    :disabled="disabled"
    :class="{'!cursor-not-allowed': disabled}"
    :value="value"
    :placeholder="placeholder"
    class="form-input mt-1 block w-full"
    type="text"
    @input="(e) => $emit('input', e.target.value)"
  >
</template>

<script>
import flatpickr from 'flatpickr'

export default {
  props: {
    value: {
      type: String,
      required: true
    },
    placeholder: {
      type: String,
      default: ''
    },
    disabled: {
      type: Boolean,
      default: false
    },
    config: {
      type: Object,
      default: () => ({})
    }
  },

  data () {
    return {
      flatpickr: null,
      ref: Math.random().toString(36).substring(7)
    }
  },

  mounted () {
    this.$nextTick(() => {
      this.flatpickr = flatpickr(this.$refs[this.ref], {
        onClose: this.onChange,
        ...this.config
      })
    })
  },

  methods: {
    onChange () {
      this.$emit('change', this.$refs[this.ref].value)
    }
  }
}
</script>

<style lang="scss" scoped>
    .\!cursor-not-allowed {
        cursor: not-allowed !important;
    }
</style>
<style lang="scss">

    /* purgecss start ignore */
    @import "~flatpickr/dist/themes/dark";
    /* purgecss end ignore */
</style>
