<template>
  <div class="fixed bottom-0 w-full bg-background shadow-lg flex">
    <nuxt-link
      v-for="(item, index) in items"
      :key="index"
      active-class="bg-background-dark"
      :to="{name:item.target}"
      class="block flex flex-col items-center p-1 flex-1 hover:bg-background-dark"
    >
      <component :is="item.icon" class="text-2xl" />
      <div class="text-sm" v-text="item.label" />
    </nuxt-link>
  </div>
</template>

<script>
import Bars from '@/assets/svgs/icons/Bars.svg'
import Search from '@/assets/svgs/icons/Search.svg'
import Note from '@/assets/svgs/icons/Note.svg'
import Artist from '@/assets/svgs/icons/Artist.svg'
export default {
  name: 'MobileNavigation',
  components: {
    Bars,
    Search
  },
  data () {
    return {
      items: [
        {
          label: 'Concerts',
          icon: Note,
          target: 'concerts'
        },
        {
          label: 'Artists',
          icon: Artist,
          target: 'artists'
        },
        {
          label: 'Search',
          icon: Search,
          target: 'search'
        }
      ]
    }
  }
}
</script>
