<template>
  <nav
    class="flex justify-center items-center py-3 px-1 w-full"
    role="navigation"
    aria-label="pagination"
  >
    <div
      v-show="prevPages.length !== 0"
      rel="prev"
      class="py-2 px-3 mr-1 bg-background-dark hover:bg-brand-accent cursor-pointer uppercase"
      @click="changePage(currentPage - 1)"
    >
      back
    </div>
    <div ref="pageScroller" class="flex items-center overflow-auto mx-1">
      <div
        v-for="(page) in prevPages"
        :key="page"
        class="py-2 px-3 mr-1 bg-background-dark hover:bg-brand-accent cursor-pointer"
        @click="changePage(page)"
      >
        <a
          class=""
          :aria-label="'Goto page' + page"
          v-text="page"
        />
      </div>

      <div ref="currentPage" class="py-2 px-3 mr-1 bg-brand-accent cursor-pointer">
        <a
          class=""
          :aria-label="'Page ' + currentPage"
          :aria-current="currentPage"
          v-text="currentPage"
        />
      </div>

      <div
        v-for="(page) in nextPages"
        :key="page"
        class="py-2 px-3 mr-1 bg-background-dark hover:bg-brand-accent cursor-pointer"
        @click="changePage(page)"
      >
        <a
          class=""
          :aria-label="'Goto page' + page"
          v-text="page"
        />
      </div>
    </div>

    <div
      v-show="nextPages.length !== 0"
      rel="next"
      class="py-2 px-3 bg-background-dark hover:bg-brand-accent cursor-pointer uppercase"
      @click="changePage(currentPage + 1)"
    >
      next
    </div>
  </nav>
</template>

<script>
export default {
  name: 'Pagination',
  props: {
    currentPage: {
      type: Number,
      required: true
    },
    from: {
      type: Number,
      default: null
    },
    lastPage: {
      type: Number,
      required: true
    },
    perPage: {
      type: Number,
      default: null
    },
    to: {
      type: Number,
      default: null
    },
    total: {
      type: Number,
      default: null
    }
  },
  computed: {
    prevPages () {
      return [...Array(this.currentPage - 1).keys()].map(i => i + 1)
    },
    nextPages () {
      return [...Array(this.lastPage - this.currentPage).keys()].map(i => i + (this.currentPage + 1))
    }
  },
  methods: {
    changePage (to) {
      this.$emit('change', to)
    }
  }
}
</script>
