<template>
  <div class="w-full px-2 py-2 mb-2 shadow-lg border-b border-background-dark">
    <div class="w-full flex items-center justify-between bg-background-darker">
      <div class="md:mr-3 md:pr-3 mr-1 pr-1 border-r border-background">
        <span class="uppercase md:text-lg text-base text-font-primary" v-text="total" />
        <span class="uppercase md:text-sm text-xs text-font-secondary">total</span>
      </div>
      <div class="md:text-sm text-xs flex flex-1 overflow-auto">
        <div
          v-if="selectedGenre"
          class="py-1 rounded-lg flex border border-brand-main items-center hover:bg-brand-main cursor-pointer mr-2"
        >
          <span class="pl-3 pr-2 whitespace-no-wrap" @click="showFilter = !showFilter" v-text="selectedGenre.name" />
          <div class="w-4 h-4 mr-2 text-xs rounded-full bg-background hover:bg-background-darker text-font-secondary-dark flex justify-center items-center" @click="removeGenreFilter">
            <span>X</span>
          </div>
        </div>
      </div>
      <div
        class="ml-1 border-l border-background md:text-2xl text-lg text-font-secondary md:pl-4 pl-2 md:pr-2 pr-1 cursor-pointer"
        @click="showFilter = !showFilter"
      >
        <filter-icon v-if="!showFilter" />
        <times v-else />
      </div>
    </div>

    <div v-if="showFilter" class="flex border-t  border-background-dark mt-2 py-2">
      <label class="block md:w-1/3 w-full">
        <span class="text-font-secondary">Genre</span>
        <select v-model="compGenre[0]" class="form-select text-font-secondary block w-full mt-1">
          <option :value="undefined">---</option>
          <option v-for="genre in genres" :key="genre.id" :value="genre.id" v-text="genre.name" />
        </select>
      </label>
    </div>
  </div>
</template>

<script>
import FilterIcon from '@/assets/svgs/icons/Filter.svg'
import Times from '@/assets/svgs/icons/Times.svg'
export default {
  name: 'ArtistFilterHead',
  components: {
    FilterIcon,
    Times
  },
  props: {
    total: {
      type: Number,
      required: true
    },
    queryGenres: {
      type: Array,
      required: true
    }
  },
  data () {
    return {
      showFilter: false,
      genres: [],
      genreFilter: this.queryGenres || []
    }
  },
  computed: {
    filterObject () {
      return {
        genres: this.genreFilter
      }
    },
    compGenre: {
      get () {
        return this.genreFilter
      },
      set (value) {
        this.genreFilter[0] = value
      }
    },
    selectedGenre () {
      return this.genres.filter(genre => genre.id === Number(this.compGenre[0]))[0]
    }
  },
  watch: {
    filterObject: {
      deep: true,
      handler () {
        this.$emit('filter', this.filterObject)
      }
    }
  },
  async created () {
    const genres = await this.$axios.$get('genres')
    this.genres = genres.data
  },
  methods: {
    removeGenreFilter () {
      this.genreFilter = []
    }
  }
}
</script>
