<template>
  <div class="flex flex-wrap justify-around items-stretch">
    <artist-card v-for="(artist) in artists" :key="artist.id" :artist="artist" />
  </div>
</template>

<script>
import ArtistCard from '@/components/artists/ArtistCard'
export default {
  name: 'ArtistConcertList',
  components: { ArtistCard },
  data () {
    return {
      artists: []
    }
  },
  async created () {
    const artists = await this.$axios.$get('artists/' + this.$route.params.slug + '/related/artists')
    this.artists = artists.data
  }
}
</script>
