<template>
  <nuxt-link
    :to="{name:'artists-slug', params: {slug:artist.slug}}"
    class="block p-2 flex flex-col items-center w-1/3 max-w-xxs"
  >
    <div
      class="w-full"
    >
      <div class="pb-full relative rounded-full shadow-lg overflow-hidden">
        <artist-placeholder
          class="w-full h-full object-cover object-center absolute text-font-secondary uppercase text-center center"
        />
        <img
          v-if="hasImg"
          v-lazy="img"
          :alt="artist.name"
          class="w-full h-full object-cover object-center absolute text-transparent-full"
        >
      </div>
    </div>

    <div class="text-sm md:text-lg">
      <div
        class="w-full text-center border-b border-background-dark py-1 text-font-primary"
        v-text="artist.name"
      />
      <div class="w-full text-center py-1 text-font-secondary">
        <span v-for="(genre,index) in genres" :key="genre.id">
          {{ genre.name }}
          <template v-if="index + 1 < genres.length">
            ·
          </template>
        </span>
      </div>
    </div>
  </nuxt-link>
</template>

<script>
import ArtistPlaceholder from '@/static/placeholder/ArtistPlaceholder.svg'

export default {
  name: 'ArtistCard',
  components: {
    ArtistPlaceholder
  },
  props: {
    artist: {
      type: Object,
      required: true
    }
  },
  computed: {
    hasImg () {
      return this.artist.img !== null
    },
    img () {
      return this.artist.img
    },
    genres () {
      if (this.artist.genres === undefined) {
        return []
      }

      return this.artist.genres.slice(0, 2)
    }
  }
}
</script>
