<template>
  <div>
    <div v-for="(concert) in concerts" :key="concert.id" class="py-2 ">
      <concert-row :concert="concert" />
    </div>
  </div>
</template>

<script>
import ConcertRow from '@/components/concerts/ConcertRow'
export default {
  name: 'ArtistConcertList',
  components: { ConcertRow },
  data () {
    return {
      concerts: []
    }
  },
  async created () {
    const concerts = await this.$axios.$get('artists/' + this.$route.params.slug + '/concerts?include=tour')
    this.concerts = concerts.data
  }
}
</script>
