<template>
  <div class="text-font-primary bg-background-darker min-h-screen w-screen" :style="bottomPadding">
    <div class="w-full bg-background flex justify-between items-center px-2">
      <nuxt-link to="/">
        <logo class="text-5xl" />
      </nuxt-link>
      <div class="uppercase text-font-secondary text-lg" v-text="title" />
      <div class="flex items-center text-2xl text-font-secondary" />
    </div>
    <nuxt />
    <div class="flex justify-center">
      <div class="text-font-secondary">
        <nuxt-link
          to="/imprint"
        >
          Impressum
        </nuxt-link>
        |
        <nuxt-link
          to="/privacy"
        >
          Datenschutz
        </nuxt-link>
      </div>
    </div>
    <mobile-navigation ref="mobileNav" />
  </div>
</template>
<script>
import Logo from '@/assets/svgs/logos/LogoText.svg'
import MobileNavigation from '@/components/UI/MobileNavigation'

export default {
  components: {
    MobileNavigation,
    Logo
  },
  data () {
    return {
      mobileNav: null
    }
  },
  computed: {
    bottomPadding () {
      if (this.mobileNav === null) {
        return {}
      }
      return { paddingBottom: this.mobileNav.$el.clientHeight + 'px' }
    },
    title () {
      if (this.$route.name === 'artists') {
        return 'Artists'
      }

      if (this.$route.name === 'concerts') {
        return 'Concerts'
      }

      if (this.$route.name === 'artists-slug') {
        return 'Artist'
      }

      if (this.$route.name === 'concerts-slug') {
        return 'Concert'
      }

      return 'StageSlice'
    }
  },
  mounted () {
    this.mobileNav = this.$refs.mobileNav
  }
}
</script>
