<template>
  <div class="text-font-primary bg-background-darker min-h-screen" :style="bottomPadding">
    <nuxt />
    <mobile-navigation ref="mobileNav" />
  </div>
</template>
<script>
import MobileNavigation from '@/components/UI/MobileNavigation'
export default {
  components: {
    MobileNavigation
  },
  data () {
    return {
      mobileNav: null
    }
  },
  computed: {
    bottomPadding () {
      if (this.mobileNav === null) {
        return {}
      }
      return { paddingBottom: this.mobileNav.$el.clientHeight + 'px' }
    }
  },
  mounted () {
    this.mobileNav = this.$refs.mobileNav
  }
}
</script>
