<template>
  <div>
    <div class="w-full bg-background flex items-center px-2 mb-3">
      <div class="text-5xl text-font-secondary mr-5">
        <logo />
      </div>
      <div class="w-full bg-background-dark flex text-2xl items-center px-3">
        <search-icon class="mr-3 flex-shrink-0" />
        <input
          v-model="query"
          autofocus
          class="appearance-none bg-transparent-full w-full"
          placeholder="Suche"
        >
      </div>
    </div>
    <div v-if="results === null" class="flex flex-col items-center pt-5">
      <empty-pages class="lg:w-1/4 md:w-1/3 w-1/2" />
      <span class="uppercase tracking-wider">
        Start Searching
      </span>
    </div>
    <div v-else class="px-2">
      <h2 class="mb-1 uppercase text-2xl tracking-widest border-b border-background shadow">
        Artists
      </h2>
      <div v-if="results.artists.length !== 0" class="flex flex-wrap justify-between">
        <artist-card v-for="artist in results.artists" :key="artist.id" :artist="artist" />
      </div>
      <div v-else class="flex flex-col items-center p-2">
        <void class="w-1/4 mb-2" />
        <span class="text-font-secondary">No Artist Found</span>
      </div>

      <h2 class="mb-1 uppercase text-2xl tracking-widest border-b border-background shadow">
        Concerts
      </h2>
      <div v-if="results.concerts.length !== 0" class="w-full">
        <concert-row v-for="concert in results.concerts" :key="concert.id" class="mb-2" :concert="concert" />
      </div>
      <div v-else class="flex flex-col items-center p-2">
        <void class="w-1/4 mb-2" />
        <span class="text-font-secondary">No Concerts Found</span>
      </div>
    </div>
  </div>
</template>

<script>
import Logo from '@/assets/svgs/logos/LogoText.svg'
import SearchIcon from '@/assets/svgs/icons/Search.svg'
import EmptyPages from '@/assets/svgs/heros/EmptyPages.svg'
import Void from '@/assets/svgs/heros/Void.svg'
import ArtistCard from '@/components/artists/ArtistCard'
import ConcertRow from '@/components/concerts/ConcertRow'

export default {
  name: 'Search',
  components: {
    ConcertRow,
    ArtistCard,
    Logo,
    Void,
    SearchIcon,
    EmptyPages
  },
  layout: 'withoutHead',
  data () {
    return {
      debounce: null,
      query: '',
      results: null
    }
  },
  watch: {
    query () {
      clearTimeout(this.debounce)
      this.debounce = setTimeout(() => {
        if (this.query === '') {
          this.results = null
          return
        }
        this.search()
      }, 500)
    }
  },
  methods: {
    async search () {
      this.results = await this.$axios.$get('/search', {
        params: {
          query: this.query
        }
      })
    }
  }

}
</script>
